In [105]:
from pandas import *
import pandas as pd
import numpy as np

In [106]:
# get data from https://www.football-data.co.uk/
data = pd.read_csv('https://www.football-data.co.uk/mmz4281/1516/E0.csv')

data = data[['Date','HomeTeam','AwayTeam','FTHG','FTAG']]

In [107]:
data.tail(5)

           Date    HomeTeam     AwayTeam  FTHG  FTAG
375  15/05/2016       Stoke     West Ham     2     1
376  15/05/2016     Swansea     Man City     1     1
377  15/05/2016     Watford   Sunderland     2     2
378  15/05/2016   West Brom    Liverpool     1     1
379  17/05/2016  Man United  Bournemouth     3     1

In [115]:
# calculate average goals of all league two arguments of a data frame and num of games returns a lists
def calc_lge_avg(df, num_games = 23):
    team_count = len(df['HomeTeam'].unique())
    games = df.tail(num_games * team_count)
    homeMean = round(games['FTHG'].mean(), 3)
    awayMean = round(games['FTAG'].mean(), 3)
    return [homeMean, awayMean]

In [120]:
# get teams last number of games four arguments team name, home or away, num of games and dataframe 
def team_last_games(team, home_away, num_of_games, df):
    games = df[(df[home_away]==team)].tail(num_of_games)
    return games

In [153]:
print(team_last_games('Man City', 'HomeTeam', 6, data))

           Date  HomeTeam     AwayTeam  FTHG  FTAG
259  14/02/2016  Man City    Tottenham     1     2
280  05/03/2016  Man City  Aston Villa     4     0
299  20/03/2016  Man City   Man United     0     1
315  09/04/2016  Man City    West Brom     2     1
342  23/04/2016  Man City        Stoke     4     0
364  08/05/2016  Man City      Arsenal     2     2

In [163]:
# get teams attacking strengths
def att_strength(team, home_away, num_of_games, df):
    df2 = team_last_games(team, home_away, num_of_games, df)
    lg_avg = calc_lge_avg(df, num_of_games)
    tm_avg = 0
    if home_away == 'HomeTeam':
         return round((df2['FTHG'].mean()) / lg_avg[0], 3)
    elif home_away == 'AwayTeam':
        return round((df2['FTAG'].mean()) / lg_avg[1], 3)

In [166]:
print(att_strength('Stoke', 'AwayTeam', 19, data))

0.828