In [24]:
import pandas as pd

In [25]:
# get data from https://www.football-data.co.uk/
data = pd.read_csv('https://www.football-data.co.uk/mmz4281/2021/E0.csv')

#selecting columns from dataframe to work with
data = data[['Date','HomeTeam','AwayTeam','HST','AST','FTHG','FTAG']]
data.head(5)

         Date        HomeTeam     AwayTeam  HST  AST  FTHG  FTAG
0  12/09/2020          Fulham      Arsenal    2    6     0     3
1  12/09/2020  Crystal Palace  Southampton    3    5     1     0
2  12/09/2020       Liverpool        Leeds    6    3     4     3
3  12/09/2020        West Ham    Newcastle    3    2     0     2
4  13/09/2020       West Brom    Leicester    1    7     0     3

In [26]:
# number of league games for a full season and print of all teams in league to copy and paste 
lg_games = len(data['HomeTeam'].unique()) - 1
data['HomeTeam'].unique()

array(['Fulham', 'Crystal Palace', 'Liverpool', 'West Ham', 'West Brom',
       'Tottenham', 'Brighton', 'Sheffield United', 'Everton', 'Leeds',
       'Man United', 'Arsenal', 'Southampton', 'Newcastle', 'Chelsea',
       'Leicester', 'Aston Villa', 'Wolves', 'Burnley', 'Man City'],
      dtype=object)

In [27]:
class Total_Shots_Ratio:
     def __init__(self, home, away, num_games, df):
        self.home = home
        self.away = away
        self.num_games = num_games
        self.df =  df
        
     # returns both teams last number of games in a list of dataframes
     def team_last_games(self):
        games = []
        games.append(self.df[(self.df['HomeTeam']==self.home)].tail(self.num_games))
        games.append(self.df[(self.df['AwayTeam']==self.away)].tail(self.num_games))
        return games
    
    # calculates teams total shots ratio
     def calc_tsr(self):
        df2 = self.team_last_games()
        home_for = self.team_last_games()[0]['HST'].sum()
        home_ang = self.team_last_games()[0]['AST'].sum()
        home_tsr = round(home_for /(home_for+home_ang), 3)
        
        away_for = self.team_last_games()[1]['AST'].sum()
        away_ang = self.team_last_games()[1]['HST'].sum()
        away_tsr = round(away_for /(away_for+away_ang), 3)
        
        return [home_tsr, away_tsr]

In [30]:
tsr1 = Total_Shots_Ratio('Tottenham', 'Man City', 19, data)

In [31]:
tsr1.calc_tsr()

[0.613, 0.678]

In [32]:
tsr1.team_last_games()[1]

           Date          HomeTeam  AwayTeam  HST  AST  FTHG  FTAG
17   21/09/2020            Wolves  Man City    1    9     1     3
30   03/10/2020             Leeds  Man City    7    2     1     1
49   24/10/2020          West Ham  Man City    2    7     1     1
59   31/10/2020  Sheffield United  Man City    1    8     0     1
80   21/11/2020         Tottenham  Man City    2    5     2     0
110  12/12/2020        Man United  Man City    2    2     0     0
128  19/12/2020       Southampton  Man City    3    5     0     1
162  03/01/2021           Chelsea  Man City    2    6     1     3
188  26/01/2021         West Brom  Man City    1    7     0     5
209  03/02/2021           Burnley  Man City    0    6     0     2
222  07/02/2021         Liverpool  Man City    3    5     1     4
236  17/02/2021           Everton  Man City    2    7     1     3
244  21/02/2021           Arsenal  Man City    1    3     0     1
280  13/03/2021            Fulham  Man City    0    7     0     3
292  03/04/2021         Leicester  Man City    2    4     0     2
318  21/04/2021       Aston Villa  Man City    3    3     1     2
329  01/05/2021    Crystal Palace  Man City    4    3     0     2
352  14/05/2021         Newcastle  Man City    5    6     3     4
362  18/05/2021          Brighton  Man City    6    4     3     2