In [1]:
import pandas as pd

In [2]:
# get data from https://www.football-data.co.uk/
data = pd.read_csv('https://www.football-data.co.uk/mmz4281/2021/E0.csv')

#selecting columns from dataframe to work with
data = data[['Date','HomeTeam','AwayTeam','HST','AST','FTHG','FTAG']]
data.head(5)

         Date        HomeTeam     AwayTeam  HST  AST  FTHG  FTAG
0  12/09/2020          Fulham      Arsenal    2    6     0     3
1  12/09/2020  Crystal Palace  Southampton    3    5     1     0
2  12/09/2020       Liverpool        Leeds    6    3     4     3
3  12/09/2020        West Ham    Newcastle    3    2     0     2
4  13/09/2020       West Brom    Leicester    1    7     0     3

In [3]:
# number of league games for a full season and print of all teams in league to copy and paste 
lg_games = len(data['HomeTeam'].unique()) - 1
data['HomeTeam'].unique()

array(['Fulham', 'Crystal Palace', 'Liverpool', 'West Ham', 'West Brom',
       'Tottenham', 'Brighton', 'Sheffield United', 'Everton', 'Leeds',
       'Man United', 'Arsenal', 'Southampton', 'Newcastle', 'Chelsea',
       'Leicester', 'Aston Villa', 'Wolves', 'Burnley', 'Man City'],
      dtype=object)

In [11]:
class Total_Shots_Ratio:
     def __init__(self, home, away, num_games, df):
        self.home = home
        self.away = away
        self.num_games = num_games
        self.df =  df
        
     # returns both teams last number of games in a list of dataframes
     def team_last_games(self):
        games = []
        games.append(self.df[(self.df['HomeTeam']==self.home)].tail(self.num_games))
        games.append(self.df[(self.df['AwayTeam']==self.away)].tail(self.num_games))
        return games
    
     def get_teams_values(self):
            home_sh_for = self.team_last_games()[0]['HST'].sum()
            home_sh_ang = self.team_last_games()[0]['AST'].sum()
            home_gl_for = self.team_last_games()[0]['FTHG'].sum()
            home_gl_ang = self.team_last_games()[0]['FTAG'].sum()
            
            away_sh_for = self.team_last_games()[1]['AST'].sum()
            away_sh_ang = self.team_last_games()[1]['HST'].sum()
            away_gl_for = self.team_last_games()[1]['FTAG'].sum()
            away_gl_ang = self.team_last_games()[1]['FTHG'].sum()
            
            return [[home_sh_for, home_sh_ang, home_gl_for, home_gl_ang],
                    [away_sh_for, away_sh_ang, away_gl_for, away_gl_ang ]]
    
    # calculates teams total shots ratio
     def calc_tsr(self):
        lst = self.get_teams_values()
        home_tsr = round(lst[0][0]/(lst[0][0]+lst[0][1]), 3)
        away_tsr = round(lst[1][0] /(lst[1][0]+lst[1][1]), 3)
        
        return [home_tsr, away_tsr]
    
    # calculate a difference 
     def calc_diff(self):
        d = self.calc_tsr()
        return round(d[0] - d[1], 3)
    
    # conversion rates percentage how many shots are resulting in goals
     def conv_rate(self):
        lst = self.get_teams_values()
        home_for = lst[0][2] / lst[0][0]
        home_ang = lst[0][3] / lst[0][1]
        away_for = lst[1][3] / lst[1][1]
        away_ang = lst[1][2] / lst[1][0]
        
        return [home_for, home_ang, away_for, away_ang ]

In [16]:
tsr1 = Total_Shots_Ratio('Tottenham', 'Man City', 6, data)

In [17]:
tsr1.calc_tsr()

[0.65, 0.574]

In [18]:
tsr1.calc_diff()

0.076

In [19]:
tsr1.conv_rate()

[0.358974358974359, 0.3333333333333333, 0.35, 0.5555555555555556]